@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand:wght@300&display=swap");

* {
  font-family: "Press Start 2P", cursive;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
ul {
  display: inline-block;
  height: 20px;
  width: 20px;
}
.home {
  background-color: dodgerblue;
}
.nav-bar {
  background-color: #cd5241;
  display: flex;
  margin: 2px auto;
  border-bottom: 2px solid aliceblue;
  align-items: center;
}

.pokemon-img {
  background-color: #cd5241;
  position: sticky;
  left: 550px;
}
.search-container {
  text-decoration: none;
  content: "";
  background-color: aqua;
}
.search-container::after {
  text-decoration: violet;
}
