@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand:wght@300&display=swap");

* {
  margin: 0;
  font-family: "Press Start 2P", cursive;

  color: dodgerblue;
  font-weight: bold;
  text-transform: uppercase;
}
body {
  background-color: skyblue;
}
.navbar {
  position: absolute;
  right: 50px;
  margin: 10px;
  padding: 10px;
  align-items: center;
  max-width: 400px;
  margin: 2px auto;
  border-bottom: 2px solid white;
}

.pages {
  padding: 20px;
}
.pages button {
  border-radius: 2px;
}

.card {
  border-color: black;
  align-items: center;
  height: 200px;
  width: 200px;
}
.pokemon-list li {
  align-items: center;
  padding: 2px;
  margin: 2px;
  text-decoration: none;
}
