@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

* {
  margin: 0;
  font-family: "Quicksand";
  color: red;
  font-weight: bold;
  text-transform: uppercase;
}
body {
  background-color: skyblue;
}
.navbar {
  position: sticky;
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  border-bottom: 2px solid white;
  background-color: #c04c4b;
}
.pages {
  padding: 20px;
}
